.todo {
  background: #161a2b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 128px auto;
  min-height: 390px;
  padding-bottom: 32px;
  text-align: center;
  width: 520px;
  position: relative;
}